<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-br from-gray-900 via-purple-900 to-black text-white"
>
  <!-- Contenedor Principal -->
  <div class="w-full max-w-lg p-6 space-y-6">
    <div class="space-y-4">
      @if (isSignUp() && !isRecoveryPass()) {
      <!-- Formulario de Registro -->
      <h2 class="text-2xl font-bold">Create Account</h2>
      <form
        #form="ngForm"
        (ngSubmit)="createUser(form)"
        class="flex flex-col items-center"
      >
        <div class="space-y-2">
          <input
            name="email"
            ngModel
            required
            type="email"
            placeholder="Email"
            class="w-full p-3 bg-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
          <input
            name="password"
            ngModel
            required
            type="password"
            placeholder="Password"
            class="w-full p-3 bg-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
        </div>

        @if (error()) {
        <p class="text-red-500 text-center text-sm mt-1">{{ error() }}</p>
        }

        <button
          type="submit"
          class="w-1/2 mt-4 p-3 bg-purple-600 hover:bg-purple-700 rounded-full font-semibold"
        >
          Sign up
        </button>
      </form>

      <p class="text-center text-sm text-gray-400">
        Already have an account?
        <a class="text-purple-500 cursor-pointer" (click)="navigateTo('login')"
          >Log in</a
        >
      </p>
      } @else if (!isSignUp() && !isRecoveryPass()) {
      <!-- Formulario de Inicio de Sesión -->
      <h2 class="text-2xl font-bold">Welcome Back</h2>
      <form
        #form="ngForm"
        (ngSubmit)="loginUser(form)"
        class="flex flex-col items-center"
      >
        <div class="space-y-2">
          <input
            name="email"
            ngModel
            required
            type="email"
            placeholder="Email"
            class="w-full p-3 bg-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
          <input
            name="password"
            ngModel
            required
            type="password"
            placeholder="Password"
            class="w-full p-3 bg-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
        </div>

        @if (error()) {
        <p class="text-red-500 text-center text-sm mt-1">{{ error() }}</p>
        }

        <button
          type="submit"
          class="w-1/2 mt-4 p-3 bg-purple-600 hover:bg-purple-700 rounded-full font-semibold"
        >
          Log in
        </button>
      </form>
      <a
        class="text-sm text-purple-500 block text-center cursor-pointer"
        (click)="navigateTo('forgot-password')"
      >
        Forgot Password?
      </a>
      <p class="text-center text-sm text-gray-400">
        Don’t have an account?
        <a
          class="text-purple-500 cursor-pointer"
          (click)="navigateTo('sign-up')"
          >Sign up</a
        >
      </p>
      } @else if (isRecoveryPass()) {
      <!-- Formulario de Recuperación de Contraseña -->
      <h2 class="text-2xl font-bold">Forgot Password</h2>
      <form
        #form="ngForm"
        (ngSubmit)="recoverPassword(form)"
        class="flex flex-col items-center"
      >
        <input
          name="email"
          ngModel
          type="email"
          placeholder="Email"
          class="w-full p-3 bg-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500"
        />

        <button
          type="submit"
          class="w-1/2 mt-4 p-3 bg-purple-600 hover:bg-purple-700 rounded-full font-semibold"
        >
          Send Email
        </button>

        <p class="text-center text-sm text-gray-400 mt-2">
          Remember your password?
          <a
            class="text-purple-500 cursor-pointer"
            (click)="navigateTo('login')"
            >Log in</a
          >
        </p>
      </form>

      }
    </div>
  </div>
</div>
