<div
  class="min-h-screen flex items-center justify-center bg-gray-50 px-4 sm:px-6 lg:px-8"
>
  <div
    class="max-w-md w-full space-y-8 p-6 sm:p-8 bg-white rounded-xl shadow-lg"
  >
    <div class="text-center">
      <h2 class="mt-4 sm:mt-6 text-2xl sm:text-3xl font-bold text-gray-900">
        {{ isLogin() ? "Welcome back" : "Create an account" }}
      </h2>
      <p class="mt-2 text-sm sm:text-base text-gray-600">
        {{
          isLogin()
            ? "Please sign in to your account"
            : "Get started with your free account"
        }}
      </p>
    </div>

    <form
      #form="ngForm"
      class="mt-6 sm:mt-8 space-y-4 sm:space-y-6"
      (submit)="handleSubmit(form)"
    >
      <div class="space-y-4">
        <div>
          <label for="email" class="sr-only">Email address</label>
          <input
            id="email"
            type="email"
            placeholder="Email address"
            ngModel
            name="email"
            required
            class="appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-primary focus:border-primary focus:z-10 text-sm sm:text-base"
          />
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            type="password"
            placeholder="Password"
            ngModel
            name="password"
            required
            class="appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-primary focus:border-primary focus:z-10 text-sm sm:text-base"
          />
        </div>
      </div>

      @if (error()) {
      <p class="text-red-500 text-center text-sm mt-1">{{ error() }}</p>
      }

      <div>
        <button
          type="submit"
          class="group relative w-full flex justify-center items-center gap-2 py-2 sm:py-3 text-sm sm:text-base transition-all duration-200 hover:scale-[1.02] bg-blue-500 text-white rounded-md"
        >
          <fa-icon [icon]="isLogin() ? faSignInAlt : faUserPlus"></fa-icon>
          {{ isLogin() ? "Sign in" : "Sign up" }}
        </button>
      </div>
    </form>

    <div class="text-center">
      <button
        (click)="toggleAuthMode()"
        class="text-sm sm:text-base text-primary hover:text-primary/80 flex items-center gap-2 mx-auto transition-colors"
      >
        <fa-icon [icon]="faKey"></fa-icon>
        {{
          isLogin()
            ? "Don't have an account? Sign up"
            : "Already have an account? Sign in"
        }}
      </button>
    </div>
  </div>
</div>
