@if (isOpen$ | async) {
<div class="modal-overlay">
  <div
    class="modal-content border rounded-lg p-5"
    (click)="$event.stopPropagation()"
  >
    <div class="modal-header">
      <h2 class="text-lg font-bold">{{ (modalData$ | async)?.title }}</h2>
      <button (click)="onClose()">
        <fa-icon [icon]="faClose" class="h-4 w-4"></fa-icon>
      </button>
    </div>
    <div class="modal-description">
      <p>
        {{ (modalData$ | async)?.description }}
      </p>
    </div>
    <div class="modal-body">
      @switch ((modalData$ | async)?.type) { @case (ModalType.NEW_TRANSACTION) {
      <transaction-form
        (onSubmit)="onTransactionSubmit()"
        (onCancel)="onClose()"
      ></transaction-form>
      } @case (ModalType.PAY_TRANSACTION) {
      <modal-payment-table
        (onPay)="onPayTransaction($event)"
      ></modal-payment-table>
      } }
    </div>
  </div>
</div>
}
