<div class="box-container w-full">
    <div class="flex justify-between items-center">
        <h3>Incomes</h3>
        <button>+ Add</button>
    </div>

    <div class="flex flex-col gap-4 mt-4">
        <div class="flex justify-between items-center">
            <h4>Income 1</h4>
            <p>$100000</p>
        </div>
        <div class="flex justify-between items-center">
            <h4>Income 2</h4>
            <p>$100000</p>
        </div>
        <div class="flex justify-between items-center">
            <h4>Income 3</h4>
            <p>$100000</p>
        </div>
</div>